@import "./customstyle.scss";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

html,body{
  height:100%;
}

router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}

.btn-branded {
    padding: 0px 50px !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…43di03LjVoMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjcuMiAtMTI2LjYpIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    background-size: 50px;
    background-color: #dd4b4c;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    color:#fff;
}

.btn-branded.disabled {
    color: rgba(255,255,255,0.7) !important;
    cursor: not-allowed;
}
